.antique-letter {
    transform: rotate(-5deg);

    p {
        margin: 2em;
    }
}
.row.letter {
    background-image: url('/images/palms.jpg');
    background-repeat: repeat;
}

.big-section {
    height:400px;
}